@font-face {
    font-family: "Rochester";
    src: url("../static/fonts/Rochester-Regular.ttf");
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("../static/fonts/Montserrat-SemiBold.ttf");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("../static/fonts/Montserrat-ExtraBold.ttf");
    font-weight: bolder;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("../static/fonts/Montserrat-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }