
.header__hero {
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    height: 100%;
    align-items: center;
    gap: 0.5rem;
  }
  
  .hero__title {
    width: 90%;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--title);
  }
  
  .hero__text {
    width: 90%;
    text-align: left;
  }
  
  .hero__img {
    width: 110%;
    object-fit: cover;
  }